@media (max-width: 575.98px) { 
    .nav {
        &__div1 {
            padding-left: 30px;
        }
        &__div2 {
            display: none;
        }
        &__div3 {
            display: none;

        }
        &__menu {
            width: 50%;
            height: 30px;

        }
        &__menu i {
            font-size: 30px;
            float: right;
            margin-right: 30px;
        }
    }
    .main {
        background-size: 100%;
        background-position: bottom;
        height: 430px;
    
        &__div1 {
            width: 300px;
            height: 400px;
            padding: 10px;
        }
        &__div2 {
            width: 100%;
            margin-top: -200px;
        }
        &__img {
            width: 100%;
        }
    }
    .section-1 {
        padding-top: 20px;
        height: 500px;
    
        &__h2 {
            text-align: center;
        }
        &__box {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
        }
        &__container {
            height: 200px;
            width: 100%;
            padding: 10px;
        }
        &__container:nth-child(1) {
            padding: 0;

        }
    }
    .section-2 {
        width: 100%;
        height: 1050px;
        background-color: $onix;
    
        &__h2 {
            margin-top: 100px;
            color: $white;
        }
        &__container-cards {
            grid-template-columns: auto;
            margin:  20px;
        }
        &__cards {
            height: 400px;
            padding: 10px;
            margin-top: 30px;
        }
        &__ul  {
            height: 150px;
        }
        &__img {
            margin-top: -1100px;
        }
    }
    .footer {
        flex-wrap: wrap;

    
        &__div1 {
            width: 100%;
            align-content: center;
            justify-content: space-around;
        }

        &__div2 {
            align-content: center;
            justify-content: center;
        }
        &__div2 p {
            color: $white;
            text-align: center;
        }
    }
}

@media (min-width: 576px) and (max-width: 767.98px) { 
    .nav {
        &__div1 {
            padding-left: 100px;
        }
        &__div2 {
            display: none;
        }
        &__div3 {
            display: none;
        }
        &__menu {
            width: 50%;
            height: 30px;
            float: right;

        }
        &__menu i {
            font-size: 30px;
            float: right;
            margin-right: 100px;
        }
    }
    .main {
        background-size: 100%;
        background-position: bottom;
        height: 500px;
    
        &__div1 {
            width: 300px;
            height: 400px;
            padding: 10px;
        }
        &__div2 {
            width: 100%;
            margin-top: -200px;
        }

    }
    .section-1 {
        padding-top: 20px;
        height: 600px;
    
        &__h2 {
            text-align: center;
        }
        &__box {
            width: 100%;
        

        }
        &__container {
            height: 200px;
            margin: 20px;
        }
        &__container:nth-child(1) {
            padding: 0;

        }
    }
    .section-2 {
        width: 100%;
        height: 1050px;
        background-color: $onix;
    
        &__h2 {
            margin-top: 100px;
            color: $white;
        }
        &__container-cards {
            grid-template-columns: auto;
            margin:  20px;
        }
        &__cards {
            height: 400px;
            padding: 10px;
            margin-top: 30px;
        }
        &__ul  {
            height: 150px;
        }
        &__img {
            margin-top: -1130px;
        }
    }
    .footer {
        flex-wrap: wrap;

    
        &__div1 {
            width: 100%;
            align-content: center;
            justify-content: space-around;
        }

        &__div2 {
            align-content: center;
            justify-content: center;
        }
        &__div2 p {
            color: $white;
            text-align: center;
        }
    }
}
 

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
    .nav {
        &__div1 {
            padding-left: 100px;
        }
        &__div2 {
            display: flex;
            justify-content: flex-start;
        }
        &__div2 p {
            padding-left: 30px;
            width: 90px;
        }
        &__div2 p:nth-child(1) {
            width: 70px;
    
        }
        &__div3 {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            padding-right: 100px;
        }
        &__button-1 {
            width: 110px;
            height: 30px;
            background-color: $white;
            border: none;
        }
        &__button-2 {
            width: 110px;
            height: 30px;
            background-color: $ballblue;
            color: $white;
            border: none;
        }
        &__button-2:hover{
            background-color: $middleblue; 
        } 
        &__button-2:focus {
            background-color: $lavendergrey;
            outline: none;
        }
        &__menu {
            display: none;
        }
    }
    .main {
        background-size: 100%;
        background-position: bottom;
        height: 580px;
    
        &__div1 {
            width: 300px;
            height: 400px;
            padding-left: 100px;
        }
        &__div2 {
            width: 100%;
            margin-top: -200px;
        }
    }
    .section-1 {
        padding-top: 20px;
        height: 500px;
    
        &__h2 {
            text-align: center;
        }
        &__box {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
        }
        &__container {
            height: 200px;
            width: 100%;
            margin: 20px;
        }
        &__container:nth-child(1) {
            padding: 0;

        }
    }
    .section-2 {
        width: 100%;
        height: 600px;
        background-color: $onix;
    
        &__h2 {
            margin-top: 100px;
            color: $white;
        }
        &__container-cards {
            grid-template-columns: auto auto;
            margin: 20px;
        }
        &__cards {
            width: 290px;
            height: 400px;
            margin: 30px;
        }
        &__ul  {
            height: 150px;
        }
        &__img {
            margin-top: -710px;
        }
    }
    .footer {
        align-items: center;
        position: relative;
    
        &__div1 {
            display: flex;
            justify-content: flex-start;
            padding-left: 100px;
        }
        &__div1 p {
            padding-left: 20px;
            color: $white;
        }
        &__div1 p:nth-child(3) {
            width: 110px;
        }
        &__div2 {
            width: 100%;
            padding-right: 100px;
            display: flex;
            justify-content: flex-end;
        }
        &__div2 p {
            color: $white;
        }
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) { 
    .nav {
        &__div1 {
            padding-left: 100px;
        }
        &__div2 {
            display: flex;
            justify-content: flex-start;
        }
        &__div2 p {
            padding-left: 30px;
            width: 90px;
        }
        &__div2 p:nth-child(1) {
            width: 70px;
    
        }
        &__div3 {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            padding-right: 100px;
        }
        &__button-1 {
            width: 110px;
            height: 30px;
            background-color: $white;
            border: none;
        }
        &__button-2 {
            width: 110px;
            height: 30px;
            background-color: $ballblue;
            color: $white;
            border: none;
        }
        &__button-2:hover{
            background-color: $middleblue; 
        } 
        &__button-2:focus {
            background-color: $lavendergrey;
            outline: none;
        }
        &__menu {
            display: none;
        }
    }
    .main {
        height: 670px;
        background-size: contain;
        background-position: top;


    
        &__div1 {
            width: 300px;
            height: 300px;
            border: 1 px solid gray;
            padding-left: 100px;
            padding-top: 100px;
        }
        &__div2 {
            width: 100%;
            margin-top: -450px;
        }
        &__img {
            width: 100%;
            
        }
    }
    .section-1 {
        height: 550px;
    
        &__h2 {
            text-align: center;
        }
        &__container {
            width: 300px;
            margin: 50px;
        }
    }
    .section-2 {
        height: 500px;
        background-color: $onix;
        padding-top: -20px;

        &__h2 {
            color: $white;
        }
        &__container-cards {
            grid-template-columns: auto auto;
        }
        &__cards {
            width: 290px;
            margin: 30px;
            height: 370px;

        }
        &__ul {
            height: 110px;
        }
        &__img {
            margin-top: -700px;
        }
    }
    .footer {
        align-items: center;
        position: relative;
    
        &__div1 {
            display: flex;
            justify-content: flex-start;
            padding-left: 100px;
        }
        &__div1 p {
            padding-left: 20px;
            color: $white;
        }
        &__div1 p:nth-child(3) {
            width: 110px;
        }
        &__div2 {
            width: 100%;
            padding-right: 100px;
            display: flex;
            justify-content: flex-end;
        }
        &__div2 p {
            color: $white;
        }
    }
}

 

@media (min-width: 1200px) { 
    .nav {
        &__div1 {
            padding-left: 100px;
        }
        &__div2 {
            display: flex;
            justify-content: flex-start;
        }
        &__div2 p {
            padding-left: 30px;
            width: 90px;
        }
        &__div2 p:nth-child(1) {
            width: 70px;
    
        }
        &__div3 {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            padding-right: 100px;
        }
        &__button-1 {
            width: 110px;
            height: 30px;
            background-color: $white;
            border: none;
        }
        &__button-2 {
            width: 110px;
            height: 30px;
            background-color: $ballblue;
            color: $white;
            border: none;
        }
        &__button-2:hover{
            background-color: $middleblue; 
        } 
        &__button-2:focus {
            background-color: $lavendergrey;
            outline: none;
        }
        &__menu {
            display: none;
        }
    }
    .main {
        width: 100%;
        height: 810px;
        background-size: contain;
        background-position: top;
    
        &__div1 {
            width: 300px;
            height: 300px;
            border: 1 px solid gray;
            padding-left: 100px;
            padding-top: 100px;
        }
        &__div2 {
            width: 100%;
            margin-top: -420px;
        }
        &__img {
            width: 100%;
        }
    }
    .section-1 {
        height: 550px;
    
        &__h2 {
            text-align: center;
        }
        &__box {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
        }
        &__container {
            width: 300px;
            margin: 50px;
        }
    }
    .section-2 {
        height: 550px;
        background-color: $onix;

        &__h2 {
            color: $white;
        }
        &__container-cards {
            grid-template-columns: auto auto;
        }
        &__cards {
            width: 290px;
            background-color: $white;
            margin: 30px;
            height: 370px;

        }
        &__ul {
            height: 110px;
        }
        &__img {
            margin-top: -760px;
        }
    }
    .footer {
        align-items: center;

    
        &__div1 {
            display: flex;
            justify-content: flex-start;
            padding-left: 100px;
        }
        &__div1 p {
            padding-left: 20px;
            color: $white;
        }
        &__div1 p:nth-child(3) {
            width: 110px;
        }
        &__div2 {
            width: 100%;
            padding-right: 100px;
            display: flex;
            justify-content: flex-end;
        }
        &__div2 p {
            color: $white;
        }
    }
}

 