@media (max-width: 575.98px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\000033}}
  .nav__div1 {
    padding-left: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\000036}}
  .nav__div2 {
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\000039}}
  .nav__div3 {
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\0000312}}
  .nav__menu {
    width: 50%;
    height: 30px;
    float: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\0000318}}
  .nav__menu i {
    font-size: 30px;
    float: right;
    margin-right: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\0000324}}
  .main {
    background-size: 100%;
    background-position: bottom;
    height: 430px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\0000329}}
    .main__div1 {
      width: 300px;
      height: 400px;
      padding: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\0000334}}
    .main__div2 {
      width: 100%;
      margin-top: -200px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\0000338}}
    .main__img {
      width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\0000342}}
  .section-1 {
    padding-top: 20px;
    height: 500px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\0000346}}
    .section-1__h2 {
      text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\0000349}}
    .section-1__box {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-line-pack: center;
          align-content: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\0000356}}
    .section-1__container {
      height: 200px;
      width: 100%;
      padding: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\0000361}}
    .section-1__container:nth-child(1) {
      padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\0000366}}
  .section-2 {
    width: 100%;
    height: 1050px;
    background-color: #333745; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\0000371}}
    .section-2__h2 {
      margin-top: 100px;
      color: #ffffff; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\0000375}}
    .section-2__container-cards {
      grid-template-columns: 1fr;
      margin: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\0000379}}
    .section-2__cards {
      height: 400px;
      padding: 10px;
      margin-top: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\0000384}}
    .section-2__ul {
      height: 150px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\0000387}}
    .section-2__img {
      margin-top: -1030px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\0000391}}
  .footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\0000395}}
    .footer__div1 {
      width: 100%;
      -ms-flex-line-pack: center;
          align-content: center;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\00003101}}
    .footer__div2 {
      -ms-flex-line-pack: center;
          align-content: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\00003105}}
    .footer__div2 p {
      color: #ffffff;
      text-align: center; } }
@media (min-width: 1200px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\00003116}}
  .nav__div1 {
    padding-left: 100px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\00003119}}
  .nav__div2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\00003123}}
  .nav__div2 p {
    padding-left: 30px;
    width: 90px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\00003127}}
  .nav__div2 p:nth-child(1) {
    width: 70px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\00003131}}
  .nav__div3 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 100px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\00003137}}
  .nav__button-1 {
    width: 110px;
    height: 30px;
    background-color: #ffffff;
    border: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\00003143}}
  .nav__button-2 {
    width: 110px;
    height: 30px;
    background-color: #2ab7ca;
    color: #ffffff;
    border: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\00003150}}
  .nav__button-2:hover {
    background-color: #77d1dd; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\00003153}}
  .nav__button-2:focus {
    background-color: #8f9199;
    outline: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\00003157}}
  .nav__menu {
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\00003161}}
  .main {
    width: 100%;
    height: 810px;
    background-size: cover; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\00003168}}
    .main__div1 {
      width: 300px;
      height: 300px;
      border: 1 px solid gray;
      padding-left: 100px;
      padding-top: 100px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\00003175}}
    .main__div2 {
      width: 100%;
      margin-top: -420px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\00003179}}
    .main__img {
      width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\00003183}}
  .section-1 {
    height: 550px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\00003186}}
    .section-1__h2 {
      text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\00003189}}
    .section-1__box {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-line-pack: center;
          align-content: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\00003196}}
    .section-1__container {
      width: 300px;
      margin: 50px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\00003201}}
  .section-2 {
    height: 550px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\00003204}}
    .section-2__h2 {
      color: #ffffff; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\00003207}}
    .section-2__container-cards {
      grid-template-columns: auto auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\00003210}}
    .section-2__cards {
      width: 290px;
      background-color: #ffffff;
      margin: 30px;
      height: 370px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\00003217}}
    .section-2__ul {
      height: 110px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\00003220}}
    .section-2__img {
      margin-top: -760px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\00003224}}
  .footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\00003228}}
    .footer__div1 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      padding-left: 100px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\00003233}}
    .footer__div1 p {
      padding-left: 20px;
      color: #ffffff; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\00003237}}
    .footer__div1 p:nth-child(3) {
      width: 110px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\00003240}}
    .footer__div2 {
      width: 100%;
      padding-right: 100px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/abstracts\/_media\.scss}line{font-family:\00003246}}
    .footer__div2 p {
      color: #ffffff; } }
@-webkit-keyframes animated {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }
@keyframes animated {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/base\/_base\.scss}line{font-family:\000031}}
body {
  margin: 0;
  padding: 0;
  border: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/base\/_tipography\.scss}line{font-family:\000031}}
p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/base\/_tipography\.scss}line{font-family:\000036}}
h1, h2, h3, h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/layout\/_navbar\.scss}line{font-family:\000031}}
.nav {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/layout\/_navbar\.scss}line{font-family:\000037}}
  .nav__div1 {
    width: 150px;
    height: 50px;
    padding-top: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/layout\/_navbar\.scss}line{font-family:\0000313}}
  .nav__img:hover {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transition: 3s;
    transition: 3s; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/layout\/_navbar\.scss}line{font-family:\0000318}}
  .nav__div2 p {
    padding-left: 30px;
    width: 90px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/layout\/_navbar\.scss}line{font-family:\0000322}}
  .nav__div2 p:nth-child(1) {
    width: 70px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/layout\/_navbar\.scss}line{font-family:\0000326}}
  .nav__div3 {
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 100px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/layout\/_navbar\.scss}line{font-family:\0000331}}
  .nav__button-1 {
    width: 110px;
    height: 30px;
    background-color: #ffffff;
    border: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/layout\/_navbar\.scss}line{font-family:\0000337}}
  .nav__button-2 {
    width: 110px;
    height: 30px;
    background-color: #2ab7ca;
    color: #ffffff;
    border: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/layout\/_navbar\.scss}line{font-family:\0000344}}
  .nav__button-2:hover {
    background-color: #77d1dd; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/layout\/_navbar\.scss}line{font-family:\0000347}}
  .nav__button-2:focus {
    background-color: #8f9199;
    outline: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/layout\/_footer\.scss}line{font-family:\000031}}
.footer {
  background-color: #221d23;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/layout\/_footer\.scss}line{font-family:\000037}}
  .footer__div1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/layout\/_footer\.scss}line{font-family:\0000310}}
  .footer__div1 p {
    color: #ffffff; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/layout\/_footer\.scss}line{font-family:\0000314}}
  .footer__div2 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/layout\/_footer\.scss}line{font-family:\0000318}}
  .footer__div2 p {
    color: #ffffff; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/layout\/_main\.scss}line{font-family:\000031}}
.main {
  width: 100%;
  background-image: url(../img/bg-hero.svg);
  background-repeat: no-repeat;
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/layout\/_main\.scss}line{font-family:\000037}}
  .main__div1 {
    width: 300px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/layout\/_section-1\.scss}line{font-family:\000031}}
.section-1 {
  width: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/layout\/_section-1\.scss}line{font-family:\000035}}
  .section-1__h2 {
    text-align: center;
    max-width: 0 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/layout\/_section-1\.scss}line{font-family:\000039}}
  .section-1__box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/layout\/_section-1\.scss}line{font-family:\0000316}}
  .section-1__container {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    height: 170px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/layout\/_section-1\.scss}line{font-family:\0000320}}
  .section-1__container:nth-child(1) {
    -webkit-animation: animated 2s ease-in 0s infinite alternate;
            animation: animated 2s ease-in 0s infinite alternate; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/layout\/_section-2\.scss}line{font-family:\000031}}
.section-2 {
  width: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/layout\/_section-2\.scss}line{font-family:\000036}}
  .section-2__img {
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/layout\/_section-2\.scss}line{font-family:\000039}}
  .section-2__h2 {
    color: #ffffff;
    text-align: center;
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/layout\/_section-2\.scss}line{font-family:\0000315}}
  .section-2__container-cards {
    display: grid;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/layout\/_section-2\.scss}line{font-family:\0000323}}
  .section-2__cards {
    background-color: #ffffff; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/layout\/_section-2\.scss}line{font-family:\0000327}}
  .section-2__div3 {
    border-bottom: 1px solid #8f9199;
    margin: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/layout\/_section-2\.scss}line{font-family:\0000331}}
  .section-2__ul {
    border-bottom: 1px solid #8f9199;
    margin: 20px;
    padding: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/layout\/_section-2\.scss}line{font-family:\0000336}}
  .section-2__button {
    background-color: #2ab7ca;
    height: 40px;
    width: 250px;
    color: #ffffff;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/EQUIPO\/Desktop\/SEBA\/CLASES\/Prueba_startup\/Assets\/sass\/layout\/_section-2\.scss}line{font-family:\0000345}}
  .section-2__container-button {
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

/*# sourceMappingURL=main.css.map */