.nav {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;

    &__div1 {
        width: 150px;
        height: 50px;
        padding-top: 10px;
    }

    &__img:hover {
        transform: rotate(360deg);
        transition: 3s;
    }

    &__div2 p {
        padding-left: 30px;
        width: 90px;
    }
    &__div2 p:nth-child(1) {
        width: 70px;

    }
    &__div3 {
        width: 100%;
        justify-content: flex-end;
        padding-right: 100px;
    }
    &__button-1 {
        width: 110px;
        height: 30px;
        background-color: $white;
        border: none;
    }
    &__button-2 {
        width: 110px;
        height: 30px;
        background-color: $ballblue;
        color: $white;
        border: none;
    }
    &__button-2:hover{
        background-color: $middleblue; 
    } 
    &__button-2:focus {
        background-color: $lavendergrey;
        outline: none;
    }
}