.section-1 {
    width: 100%;
    box-sizing: content-box;

    &__h2 {
        text-align: center;
        max-width: 0 20px;
    }
    &__box {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }
    &__container {
        box-sizing: content-box;
        height: 170px;
    }
    &__container:nth-child(1) {
        animation: animated 2s ease-in 0s infinite alternate;
    }
}